
.mainContainer{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5em;
 
}

.grid-item{
    display: flex;
    flex-direction: column;
    
    align-items: stretch;
    width: 15em;
    height: 13em;
    
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.436);
    text-align: center;
}
.grid-header{
background-color: rgba(0, 0, 0, 0.503);
height: 20%;
}

.grid-body{
    height: 60%;
    background-color: beige;
}


.grid-footer{
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.503);
    height: 20%;
}

.btn-primary{
    border-radius: 5px;
    background-color: rgba(46, 66, 140, 0.309);
    box-shadow: inset 3px 2px 2px rgba(255, 255, 255, 0.666);
    
}
.modalView{
    display: none;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: stretch;
    width: 20em;
    height: 13em;
    position: fixed;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
}

.modalHead{
    
    
    height: 20%;
    background-color: rgba(111, 101, 101, 0.953);
}

.modalDescription{
    height: 20%;
    background-color: rgb(255, 255, 255);
    
}

.balloon-float {
    animation: balloon-float infinite 2.5s;z-index: -1;
  }
  
  @keyframes balloon-float {
  
    0%,
    100% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-6px);
    }
  }

.closeButton{
    display: flex;
    place-items: center;
    
    width: 2em;
    height: 2em;
    border-radius: 50%;
}
.modalFooter{
    background-color: rgba(111, 101, 101, 0.953);
    display: grid;
    height:20%
}

.modalBody{
    background-color: rgba(255, 255, 255, 0.953);
height: 40%;
}


@media screen and (max-width: 550px) {
    .mainContainer {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }



@media screen and (max-width: 400px) {
    .mainContainer {
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  /* @media (min-width: 295px)  {
    .mainContainer{
     display: grid;
     grid-template-columns: 1fr 1fr;
     
    }
   }
 
 
   @media (min-width: 600px)  {
    .mainContainer{
     display: grid;
     grid-template-columns: 1fr 1fr ;
     
    }
   } */
 
   /* @media screen and (max-width: 819px)  {
    .mainContainer{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr ;
     
    }
   }
  */
 